services:
  namenode:
    image: apache/hadoop:3.4
    hostname: namenode
    user: root
    command: ["hdfs", "namenode"]
    ports:
      - 9870:9870 
      - 8020:8020  
    environment:
      HADOOP_CONF_DIR: /etc/hadoop
    volumes:
      - ./config:/etc/hadoop
      - namenode-data:/hadoop/dfs/name
    networks:
      - hadoop-net

  datanode1:
    image: apache/hadoop:3.4
    hostname: datanode1
    user: root
    command: ["hdfs", "datanode"]
    environment:
      HADOOP_CONF_DIR: /etc/hadoop
    volumes:
      - ./config:/etc/hadoop
      - datanode1-data:/hadoop/dfs/data
    networks:
      - hadoop-net
    depends_on:
      - namenode

  datanode2:
    image: apache/hadoop:3.4
    hostname: datanode2
    user: root
    command: ["hdfs", "datanode"]
    environment:
      HADOOP_CONF_DIR: /etc/hadoop
    volumes:
      - ./config:/etc/hadoop
      - datanode2-data:/hadoop/dfs/data
    networks:
      - hadoop-net
    depends_on:
      - namenode

  resourcemanager:
    image: apache/hadoop:3.4
    hostname: resourcemanager
    user: root
    command: ["yarn", "resourcemanager"]
    ports:
      - 8088:8088 
    environment:
      HADOOP_CONF_DIR: /etc/hadoop
    volumes:
      - ./config:/etc/hadoop
    networks:
      - hadoop-net
    depends_on:
      - namenode

volumes:
  namenode-data:
  datanode1-data:
  datanode2-data:

networks:
  hadoop-net: